body {
  margin: 0;
    color: #f1dac4;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #a69cac; */
  background-color: #4a4e69;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
